.logo {
  font-family: var(--logo-font);
  font-weight: bold;
  text-transform: none;
  font-size: 24px;
  line-height: 28px;
  font-size: 24px;
  line-height: 1.17;
  color: var(--alt-title-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &:hover,
  &:focus {
    color: var(--alt-title-color);
  }
}
.logo__span {
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--logo-color);

  @media screen and (min-width: 768px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &:hover,
  &:focus {
    color: var(--logo-color);
  }
}
