:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --alt-title-color: #ffffff;
  --alt-text-color: #ffffff;
  --logo-color: #000000;
  --icons-color: #afb1b8;
  --alt-icon-color: #ffffff;
  --form-btn-active: #188ce8;

  --dark-bg: #2f303a;
  --second-bg: #f5f4fa;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
